@font-face {
    font-family: 'fontello';
    src:  url('../fonts/fontello.eot?ykrl9a');
    src:  url('../fonts/fontello.eot?ykrl9a#iefix') format('embedded-opentype'),
    url('../fonts/fontello.ttf?ykrl9a') format('truetype'),
    url('../fonts/fontello.woff?ykrl9a') format('woff'),
    url('../fonts/fontello.svg?ykrl9a#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'fontello' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
    content: "\a1001";
}
