.product_layout_classic{
  .product-images-wrapper{
    .woocommerce-product-gallery{
      display: block;
      .flex-viewport{
        margin-left: 0px;
        width: 100% !important;
      }
      ol{
        &.flex-control-thumbs{
          width: 100% !important;
          max-width: 615px;
          max-height: inherit;
          li{
            width: 20% !important;
            margin:20px 20px 0px 0px!important;
            padding:0px!important;
            img{
              &.flex-active{
                @media screen and (min-width: 64em){
                  opacity: 1!important;
                }
              }
            }
          }
        }
      }
    }
  }
  .product_content_wrapper{
    .product_infos{
      .product_summary_top{
        margin-top:0px;
        margin-bottom:35px;
        .woocommerce-breadcrumb{
          a, .breadcrump_sep{
            font-size: 15px;
          }
        }
      }
      .product_summary_middle{
        .product_title{
          @media only screen and (min-width:1024px) {
            font-size: 43px!important;
            line-height: 53px;
            margin-bottom: 44px;
          }
        }
      }
      .price-custom{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price{
          font-size: 43px!important;
          font-weight: 900;
          span{
            color:#000000!important;
            display: inline-block;
            position: relative;
            &::before{
              position: absolute;
              left: 0px;
              bottom: 0px;
              content:"";
              width: 100%;
              height:35px;
              background:#34dfa0;
              z-index: -1;
            }
          }
        }
        .icon-price{
          position: relative;
          padding-left:45px;
          font-family:poppins!important;
          font-weight:bold;
          color: #919191;
          &::before{
            position: absolute;
            font-family: fontello;
            font-weight: normal;
            content: "\a1001";
            font-size:35px;
            top: -10px;
            left: 0px;
            transform: rotate(225deg);
          }
        }
      }
      .in-stock{
        display: none;
      }
      .description-custom{
        margin-top: 35px;
        margin-bottom: 70px;
        p{
          font-size: 17px;
          font-weight: 500;
          font-family:poppins;
          color:#000;

        }
      }
    }
  }
  .woocommerce-tabs{
    display: none;
  }
  section{
     &.related{
       h2{
         font-size: 43px!important;
         font-weight: bold;
         font-family:poppins;
         text-transform: capitalize;
       }
     }
  }
  form{
    &.cart{
      .nbd-option-field{
        border:none;
        .nbd-field-header{
          background: #fff!important;
          padding: 0px!important;
          label{
            color:#000;
            margin-bottom: 20px!important;
            font-size: 18px!important;
          }

        }
        &.color-text{
          .nbd-help-tip{
            display:none!important;
          }
        }
        &.size-custom{
          .nbd-field-content{
            .nbo-dropdown{
              padding: 15px;
              border-radius: 5px;
              height: 56px;
            }
          }
        }
        .nbd-help-tip{
          display:none!important;
        }
        .nbd-field-content{
          padding: 0px!important;
          .nbd-swatch-wrap{
            input[type="radio"]{
              &:checked + label{
                border:2px solid #000;
              }
            }
            .nbd-swatch{
              width: 40px;
              height: 40px;
              margin: 0px 10px 0px 0px!important;
              border: 2px solid transparent;
              .nbd-swatch-tooltip{
                display: none;
              }
            }
          }
        }
      }
      .nbo-fields-wrapper{
        .nbo-bulk-title{
          color: #000;
          font-size: 18px;
          font-family: "poppins"
        }
        ul.nbo-bulk-variation{
          padding: 0px;
          margin: 0px;
          li{
            list-style: none;
            display: flex;
            align-items: center;
            .name-size{
              font-size: 30px;
              font-weight: 600;
              color: #000;
              display: inline-block;
              width:65px;
              height: 56px;
              text-align: center;
              margin-right:25px;
              font-family: "poppins";
            }
            input[type=number]::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }
            &.quantity-custom{
              .size-quantity{
                display: flex;
                align-items: center;
                width: 100%;
                border: 2px solid #bababa;
                border-radius: 5px;
                margin-bottom: 18px;
                input[type=number]{
                  border:none;
                  height: 56px;
                  text-align: center;
                  color:#000;
                  font-size: 30px;
                  font-family: "poppins";
                  font-weight: bold;
                }
                .input-number-decrement, .input-number-increment{
                  width: 125px;
                  height: 56px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 30px;
                  color: #000;
                  &:hover{
                    cursor: pointer;
                  }
                  &:focus{
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }

      .nbo-summary-wrapper{
        .nbo-table-summary-wrap, .nbo-table-pricing-wrap{
          &.nbo-style-1{
            border:none;
          }
          .nbo-summary-title, .nbo-table-pricing-title{
            margin: 34px 0px;
            padding: 0px;
            background:#fff;
            font-size: 18px;
            font-family: "poppins";
            color:#000;
            justify-content: flex-start;
          }
          .nbo-summary-table, .nbo-table-pricing{
            padding: 20px;
            background: #f3f3f3;
            border-radius: 15px;
            .nbo-final-price{
              background: #f3f3f3;
            }
            thead{
              tr{
                th{
                  padding: 15px 0px;
                }
              }
            }
            td{
              padding: 15px 0px;
            }
          }
        }
      }
    }
    .nbd-option-wrapper{
      .nbo-fields-wrapper{
        display: flex;
        flex-direction: column;
        .color-text{
          order: 1;
          margin-bottom: 47px;
        }
        .size-custom{
          order:2;
        }
        .nbo-bulk-title{
          order:2;
          margin-bottom: 35px;
        }
        .nbo-bulk-variation-wrap{
          order:3;
        }
        .label-custom{
          order:4;
          padding:20px;
          background: #f3f3f3!important;
          margin-bottom: 0px;
          .nbd-field-header{
            label{
              background: #f3f3f3!important;
              margin: 0px 0px 26px!important;
              text-transform: capitalize;
              height: inherit;
              font-size: 30px!important;
            }
          }
          .nbd-field-content{
            .nbd-label-wrap{
              input[type="radio"] + label{
                margin: 0px 7px 20px 7px!important;
                background: #fff;
                border:1px solid #bababa;
                box-shadow: none;
                color:#000000;
                padding:6px 40px;
                height:inherit!important;
                overflow: inherit!important;
              }
              input[type="radio"]{
                &:checked + label{
                  background:#34dfa0;
                  box-shadow: none;
                  color: #000;
                  border:1px solid transparent;
                }
              }
            }
          }
          &.first{
            border-radius:15px 15px 0px 0px !important;
            padding-bottom: 0px;
          }
          &.last{
            padding-top: 0px;
            border-radius:0px 0px 15px 15px !important;
          }
        }
        .nbo-clear-option-wrap.ng-scope{
          order:5;
          display:none;
        }
      }
    }
    .single_add_to_cart_button{
      display:none;
    }
    .button-custom{
      display: none!important;
      width: 100%;
      background: #000!important;
      border-radius: 35px!important;
      height: 65px;
      margin-top: 30px;
      text-align: center;
      @media(min-width:992px) {
        font-size:25px!important;
      }
    }
    a.custom_button{
      width: 100%;
      background: #000 !important;
      border-radius: 35px !important;
      height: 65px;
      margin-top: 30px;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      font-family: "poppins";
      color:#fff;
      &.custom_button_quantity{
        font-size: 13px;
        background: #34de9f !important;
        border-radius: 0px !important;
        height: 35px;
        margin-top: 0px;
        display: inline-flex;
        width: inherit;
        padding: 25px;
      }
      &:hover, &:focus{
        opacity: 1;
        color:#fff;
      }
    }
  }
  .yith-wcwl-add-to-wishlist, .product_meta{
    display:none;
  }
}
@media only screen and (min-width: 768px) {
  .woocommerce{
    ul{
      &.products{
        li{
          &.product{
            .woocommerce-loop-product__title{
              font-size: 22px!important;
              font-weight:bold;
              font-family: "poppins";
              padding-top: 25px!important;
            }
            .product_after_shop_loop{
              display: none;
            }
          }
        }
      }
    }
  }
}