@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?ykrl9a");
  src: url("../fonts/fontello.eot?ykrl9a#iefix") format("embedded-opentype"), url("../fonts/fontello.ttf?ykrl9a") format("truetype"), url("../fonts/fontello.woff?ykrl9a") format("woff"), url("../fonts/fontello.svg?ykrl9a#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ruler:before {
  content: "\a1001";
}

.product_layout_classic .product-images-wrapper .woocommerce-product-gallery {
  display: block;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery .flex-viewport {
  margin-left: 0px;
  width: 100% !important;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery ol.flex-control-thumbs {
  width: 100% !important;
  max-width: 615px;
  max-height: inherit;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery ol.flex-control-thumbs li {
  width: 20% !important;
  margin: 20px 20px 0px 0px !important;
  padding: 0px !important;
}
@media screen and (min-width: 64em) {
  .product_layout_classic .product-images-wrapper .woocommerce-product-gallery ol.flex-control-thumbs li img.flex-active {
    opacity: 1 !important;
  }
}
.product_layout_classic .product_content_wrapper .product_infos .product_summary_top {
  margin-top: 0px;
  margin-bottom: 35px;
}
.product_layout_classic .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb a, .product_layout_classic .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb .breadcrump_sep {
  font-size: 15px;
}
@media only screen and (min-width: 1024px) {
  .product_layout_classic .product_content_wrapper .product_infos .product_summary_middle .product_title {
    font-size: 43px !important;
    line-height: 53px;
    margin-bottom: 44px;
  }
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price {
  font-size: 43px !important;
  font-weight: 900;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price span {
  color: #000000 !important;
  display: inline-block;
  position: relative;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price span::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 35px;
  background: #34dfa0;
  z-index: -1;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .icon-price {
  position: relative;
  padding-left: 45px;
  font-family: poppins !important;
  font-weight: bold;
  color: #919191;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .icon-price::before {
  position: absolute;
  font-family: fontello;
  font-weight: normal;
  content: "\a1001";
  font-size: 35px;
  top: -10px;
  left: 0px;
  transform: rotate(225deg);
}
.product_layout_classic .product_content_wrapper .product_infos .in-stock {
  display: none;
}
.product_layout_classic .product_content_wrapper .product_infos .description-custom {
  margin-top: 35px;
  margin-bottom: 70px;
}
.product_layout_classic .product_content_wrapper .product_infos .description-custom p {
  font-size: 17px;
  font-weight: 500;
  font-family: poppins;
  color: #000;
}
.product_layout_classic .woocommerce-tabs {
  display: none;
}
.product_layout_classic section.related h2 {
  font-size: 43px !important;
  font-weight: bold;
  font-family: poppins;
  text-transform: capitalize;
}
.product_layout_classic form.cart .nbd-option-field {
  border: none;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-header {
  background: #fff !important;
  padding: 0px !important;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-header label {
  color: #000;
  margin-bottom: 20px !important;
  font-size: 18px !important;
}
.product_layout_classic form.cart .nbd-option-field.color-text .nbd-help-tip {
  display: none !important;
}
.product_layout_classic form.cart .nbd-option-field.size-custom .nbd-field-content .nbo-dropdown {
  padding: 15px;
  border-radius: 5px;
  height: 56px;
}
.product_layout_classic form.cart .nbd-option-field .nbd-help-tip {
  display: none !important;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-content {
  padding: 0px !important;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap input[type="radio"]:checked + label {
  border: 2px solid #000;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch {
  width: 40px;
  height: 40px;
  margin: 0px 10px 0px 0px !important;
  border: 2px solid transparent;
}
.product_layout_classic form.cart .nbd-option-field .nbd-field-content .nbd-swatch-wrap .nbd-swatch .nbd-swatch-tooltip {
  display: none;
}
.product_layout_classic form.cart .nbo-fields-wrapper .nbo-bulk-title {
  color: #000;
  font-size: 18px;
  font-family: "poppins";
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation {
  padding: 0px;
  margin: 0px;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li {
  list-style: none;
  display: flex;
  align-items: center;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li .name-size {
  font-size: 30px;
  font-weight: 600;
  color: #000;
  display: inline-block;
  width: 65px;
  height: 56px;
  text-align: center;
  margin-right: 25px;
  font-family: "poppins";
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity {
  display: flex;
  align-items: center;
  width: 100%;
  border: 2px solid #bababa;
  border-radius: 5px;
  margin-bottom: 18px;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity input[type=number] {
  border: none;
  height: 56px;
  text-align: center;
  color: #000;
  font-size: 30px;
  font-family: "poppins";
  font-weight: bold;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement, .product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment {
  width: 125px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #000;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:hover, .product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:hover {
  cursor: pointer;
}
.product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-decrement:focus, .product_layout_classic form.cart .nbo-fields-wrapper ul.nbo-bulk-variation li.quantity-custom .size-quantity .input-number-increment:focus {
  outline: none;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap.nbo-style-1, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap.nbo-style-1 {
  border: none;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-title, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing-title, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-title, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing-title {
  margin: 34px 0px;
  padding: 0px;
  background: #fff;
  font-size: 18px;
  font-family: "poppins";
  color: #000;
  justify-content: flex-start;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing {
  padding: 20px;
  background: #f3f3f3;
  border-radius: 15px;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table .nbo-final-price, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing .nbo-final-price, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table .nbo-final-price, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing .nbo-final-price {
  background: #f3f3f3;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table thead tr th, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing thead tr th, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table thead tr th, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing thead tr th {
  padding: 15px 0px;
}
.product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-summary-table td, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-summary-wrap .nbo-table-pricing td, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-summary-table td, .product_layout_classic form.cart .nbo-summary-wrapper .nbo-table-pricing-wrap .nbo-table-pricing td {
  padding: 15px 0px;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper {
  display: flex;
  flex-direction: column;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .color-text {
  order: 1;
  margin-bottom: 47px;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .size-custom {
  order: 2;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-title {
  order: 2;
  margin-bottom: 35px;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .nbo-bulk-variation-wrap {
  order: 3;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom {
  order: 4;
  padding: 20px;
  background: #f3f3f3 !important;
  margin-bottom: 0px;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-header label {
  background: #f3f3f3 !important;
  margin: 0px 0px 26px !important;
  text-transform: capitalize;
  height: inherit;
  font-size: 30px !important;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"] + label {
  margin: 0px 7px 20px 7px !important;
  background: #fff;
  border: 1px solid #bababa;
  box-shadow: none;
  color: #000000;
  padding: 6px 40px;
  height: inherit !important;
  overflow: inherit !important;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom .nbd-field-content .nbd-label-wrap input[type="radio"]:checked + label {
  background: #34dfa0;
  box-shadow: none;
  color: #000;
  border: 1px solid transparent;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.first {
  border-radius: 15px 15px 0px 0px !important;
  padding-bottom: 0px;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .label-custom.last {
  padding-top: 0px;
  border-radius: 0px 0px 15px 15px !important;
}
.product_layout_classic form .nbd-option-wrapper .nbo-fields-wrapper .nbo-clear-option-wrap.ng-scope {
  order: 5;
  display: none;
}
.product_layout_classic form .single_add_to_cart_button {
  display: none;
}
.product_layout_classic form .button-custom {
  display: none !important;
  width: 100%;
  background: #000 !important;
  border-radius: 35px !important;
  height: 65px;
  margin-top: 30px;
  text-align: center;
}
@media (min-width: 992px) {
  .product_layout_classic form .button-custom {
    font-size: 25px !important;
  }
}
.product_layout_classic form a.custom_button {
  width: 100%;
  background: #000 !important;
  border-radius: 35px !important;
  height: 65px;
  margin-top: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "poppins";
  color: #fff;
}
.product_layout_classic form a.custom_button.custom_button_quantity {
  font-size: 13px;
  background: #34de9f !important;
  border-radius: 0px !important;
  height: 35px;
  margin-top: 0px;
  display: inline-flex;
  width: inherit;
  padding: 25px;
}
.product_layout_classic form a.custom_button:hover, .product_layout_classic form a.custom_button:focus {
  opacity: 1;
  color: #fff;
}
.product_layout_classic .yith-wcwl-add-to-wishlist, .product_layout_classic .product_meta {
  display: none;
}

@media only screen and (min-width: 768px) {
  .woocommerce ul.products li.product .woocommerce-loop-product__title {
    font-size: 22px !important;
    font-weight: bold;
    font-family: "poppins";
    padding-top: 25px !important;
  }
  .woocommerce ul.products li.product .product_after_shop_loop {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
