.product_layout_classic .product-images-wrapper .woocommerce-product-gallery {
  display: block;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery .flex-viewport {
  margin-left: 0px;
  width: 100% !important;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery ol.flex-control-thumbs {
  width: 100% !important;
  max-width: 615px;
  max-height: inherit;
}
.product_layout_classic .product-images-wrapper .woocommerce-product-gallery ol.flex-control-thumbs li {
  width: 20% !important;
  margin: 20px 20px 0px 0px !important;
  padding: 0px !important;
}
.product_layout_classic .product_content_wrapper .product_infos .product_summary_top {
  margin-top: 0px;
  margin-bottom: 35px;
}
.product_layout_classic .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb a, .product_layout_classic .product_content_wrapper .product_infos .product_summary_top .woocommerce-breadcrumb .breadcrump_sep {
  font-size: 15px;
}
@media only screen and (min-width: 1024px) {
  .product_layout_classic .product_content_wrapper .product_infos .product_summary_middle .product_title {
    font-size: 43px !important;
    line-height: 53px;
    margin-bottom: 44px;
  }
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price {
  font-size: 43px !important;
  font-weight: 900;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price span {
  color: #000000 !important;
  display: inline-block;
  position: relative;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .price span::before {
  position: absolute;
  left: 0px;
  bottom: 0px;
  content: "";
  width: 100%;
  height: 35px;
  background: #34dfa0;
  z-index: -1;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .icon-price {
  position: relative;
}
.product_layout_classic .product_content_wrapper .product_infos .price-custom .icon-price::before {
  position: absolute;
  font-family: fontello;
  content: "\a1001";
  top: 0px;
  left: 0px;
  transform: rotate(225deg);
}

/*# sourceMappingURL=style.css.map */
